<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'board/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'board/bootstrap/jquery-3.7.0.min.js' %}" media="screen">
    <script src="https://kit.fontawesome.com/2d16194314.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20f2b02ec6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>



</head>
<body style="background:url({% static '/board/img/background4.png' %}); background-repeat:no-repeat; background-size:cover; height:100vh;">

<!-- Responsive navbar-->
{% include 'board/navbar.html' %}

<!-- Page content-->
<div class="container my-3">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8 bg-light border-bottom mb-4" id="main-area" style="border-radius:10px;">
            {% block main_area %}
            {% endblock %}
        </div>
        <!-- Side widgets-->
        {% include 'board/side_widgets.html' %}
    </div>
</div>


</body>
</html>