<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>괜찮아</title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/wtp/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/wtp/bootstrap/bootstrap.min.css.map' %}" media="screen">
    <script src="https://kit.fontawesome.com/20f2b02ec6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/wtp/bootstrap/main.css' %}">
</head>
<body>
    <!-- navbar  -->
      {% include 'wtp_open/navbar.html' %}
    <h1 style="width:500px; text-align:center; margin:0 auto;">괜찮아?ㅇㅋ</h1>

</body>
</html>