<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'wtp/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'wtp/bootstrap/bootstrap.min.css.map' %}" media="screen">
    <script src="https://kit.fontawesome.com/20f2b02ec6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'wtp/bootstrap/main.css' %}">
    <script src="https://kit.fontawesome.com/20f2b02ec6.js" crossorigin="anonymous"></script>
    <title>wait paradise</title>

</head>
<body style="background: #F8F8FF;">

  <header class="fixed">
    <!-- navbar  -->
      {% include 'wtp_open/navbar.html' %}
  </header>
    <div class="select-container container my-6">
        {% block main_area %}
        {% endblock %}
        <div class="row-box row">
            <div class="text-box col-5 text-center">
                <p class="p-sm-5 text-center font"><i class="fas fa-quote-left"></i> 당신의 기분을<br>선택해주세요 <i class="fas fa-quote-right"></i></p>

            </div>

            <div class="col-7 text-center">
                <div class="row">
                    <div class="btn-m h-200 col-6 auto bd-gray">
                      <a href="depression"><button class="learn-more">우울해요</button></a>
                    </div>
                    <div class="h-200 col-6 auto bd-gray">
                        <a href="bad"><button class="learn-more">별로에요</button ></a>
                    </div>
                </div>
                <div class="row">
                    <div class="h-200 col-6 auto bd-gray">
                        <a href="fine"><button class="learn-more">괜찮아요</button ></a>
                    </div>
                    <div class="h-200 col-6 auto bd-gray">
                        <a href="good"><button class="learn-more">좋았어요</button ></a>
                    </div>
                </div>
            </div>
<!--            <div class="select-mini">-->
<!--                <span class="select">당신의 기분을 골라주세요</span>-->
<!--            </div>-->

<!--            <div class="float-r">-->
<!--                <div class="box-border">-->
<!--                  <a href="depression"><button class="learn-more">우울해</button></a>-->
<!--                </div>-->
<!--                <div class="box-border">-->
<!--                    <a href="bad"><button class="learn-more">별로야</button ></a>-->
<!--                </div>-->
<!--                <div class="box-border">-->
<!--                    <a href="fine"><button class="learn-more">괜찮아</button ></a>-->
<!--                </div>-->
<!--                <div class="box-border">-->
<!--                    <a href="good"><button class="learn-more">좋아</button ></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
<!--            <div class="box-border">-->
<!--              <a href="depression"><button class="learn-more">우울해</button></a>-->
<!--            </div>-->
<!--            <div class="box-border">-->
<!--                <a href="bad"><button class="learn-more">별로야</button ></a>-->
<!--            </div>-->
<!--            <div class="box-border">-->
<!--                <a href="fine"><button class="learn-more">괜찮아</button ></a>-->
<!--            </div>-->
<!--            <div class="box-border">-->
<!--                <a href="good"><button class="learn-more">좋아</button ></a>-->
<!--            </div>-->
</body>
</html>